body{
    background-image:url('images/full-bloom.png');
}

header{
    border-bottom:5px solid #ccc;
    margin-bottom: 5%;
}

.navbar-brand{
    background:#4aaaa5;
 
}

.nav-link{
    color:#777;
    border-right: 2px solid #ccc;
    padding:0 15px 0 25px;
}

h2{
 color:#4aaaa5;
 width:100%;
}

.main{
    /* background: #fff;
    

         */

}
.outer-wraper{
    max-width: 969px;
    border: 2px solid #ddd;
    margin:15% auto;
    padding:1.5%;
}
.inner-wrap{
    border-top:5px solid #ddd;
    padding-top:3%;
    margin-top:3%;
}

footer{
    border-top:5px solid #4aaaa5;
    background:#666;
    padding-top:2em;
}

.outer-wraper{
    width:960px;
    margin:0 auto;
}
/* contact */
.btn{
    background:#4aaaa5;
    
}